{% extends 'base.html.twig' %}

{% block content %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('public/assets/img/post-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading text-center">
                            <h1>Vous pouvez retrouver tous les articles ici !</h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    {% if messageSystem is defined %}
                        <p class="messageSystem text-center">{{ messageSystem }}</p>
                    {% endif %}
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <!-- Post preview-->
                        {% for dataAllArticle in dataAllArticles %}
                            <div class="post-preview">
                                <a href="index.php?oneArticle&id={{ dataAllArticle.articleId }}">
                                    <h2 class="post-title">{{ dataAllArticle.titre }}</h2>
                                    <h3 class="post-subtitle">{{ dataAllArticle.description | striptags | slice(0, 120) }} ...</h3>
                                </a>
                                <p class="post-meta">
                                    Posté par
                                    <a href="#!">{{ dataAllArticle.login }}</a>
                                    le {{ dataAllArticle.date_creation_fr }}
                                </p>
                            </div>
                            <!-- Divider-->
                            <hr class="my-4" />
                        {% endfor %}
                        <!-- Pager-->
                    </div>
                </div>
            </div>
        </article>
{% endblock content %}
