{% extends 'base.html.twig' %}

{% block content %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('public/assets/img/home-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Valentin Lecavelier Des Etangs</h1>
                            <span class="subheading">Le développeur qu’il vous faut !</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                {% if messageSystem is defined %}
                    <p class="messageSystem text-center">{{ messageSystem }}</p>
                {% endif %}
                {% if errorSystem is defined %}
                    <p class="errorSystem text-center">{{ errorSystem }}</p>
                {% endif %}
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    {% for dataArticle in dataArticles %}
                    <div class="post-preview">
                        <a href="index.php?oneArticle&id={{ dataArticle.articleId }}">
                            <h2 class="post-title">{{ dataArticle.titre }}</h2>
                            <h3 class="post-subtitle">{{ dataArticle.description | striptags | slice(0, 120) }} ...</h3>
                        </a>
                        <p class="post-meta">
                            Posté par
                            <a href="index.php?about">{{ dataArticle.login }}</a>
                            le {{ dataArticle.date_creation_fr }}
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    {% endfor %}
                    <!-- Pager-->
                    <div class="d-flex justify-content-center mb-4"><a class="btn btn-primary text-uppercase" href="index.php?article">Articles plus anciens →</a></div>
                </div>
            </div>
        </div>
{% endblock content %}